body {
    background-color:chartreuse;
    text-align: center;
    
}
h1 {
    color: violet;
   text-align: center; 
}
img {
    width: 200px;
    height: 200px;
}
.berry2 {
    width: 200px;
}

